<!--
  Generated template for the ContractorAddPage page.
  
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title *ngIf="purchaseform.id">{{'Edit Purchase Detail' | translate}}</ion-title>
    <ion-title *ngIf="!purchaseform.id">{{'Add Purchase Detail' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

 <ion-content padding>
  <div class="main-field padding16">
    <!-- <h3>{{ 'Basic information' | translate}} </h3> -->
    <div class="cs-form mb10">
      
      <form  (ngSubmit)="f.form.valid && submit2() " #f="ngForm" >      
        
        <ion-list>
       
        <!-- <ion-item class="cs-input mt0" [ngClass]="{'error':f.submitted && distributor_id?.invalid}">
          <ion-label floating>{{'Select Distributor' | translate}}<span>*</span></ion-label>
          <ion-select name="distributor_id" [(ngModel)]="conData1.distributor_id" #distributor_id="ngModel" required >
            <ion-option *ngFor="let row of distributor_list" value="{{row.id}}">{{row.company_name}} {{row.mobile_no}}</ion-option>
        </ion-select>
      </ion-item> -->

     
      
      
        </ion-list>
        
        <div class="sprate-block" >
          <ion-list>

            <ion-item class="cs-input" [ngClass]="{'error':f.submitted && bill_date?.invalid}">
              <ion-label floating>{{'Bill Date' | translate}} <span>*</span></ion-label>
              <ion-datetime display-format="MMM DD, YYYY"  name="bill_date" #bill_date="ngModel" max="{{today_date}}"
              [(ngModel)]="conData1.bill_date"
              [disabled]="contractorData.length>0" required>
            </ion-datetime>
          </ion-item>
          
          <ion-item  class="cs-input" [ngClass]="{'error':f.submitted && bill_no?.invalid}">
            <ion-label floating>{{'Bill No.' | translate}}<span>*</span></ion-label>
            <ion-input type="text" name="bill_no" #bill_no="ngModel" [(ngModel)]="conData1.bill_no" [disabled]="contractorData.length >0"  required></ion-input>
          </ion-item>

          <ion-item class="cs-input" [ngClass]="{'error':f.submitted && bill_amount?.invalid}">
            <ion-label floating>{{'Bill Amount'}}<span>*</span></ion-label>
            <ion-input type="tel"  name="bill_amount" #bill_amount="ngModel" min="0"  [(ngModel)]="conData1.bill_amount"  [disabled]="contractorData.length >0" required></ion-input>
          </ion-item>
            <ion-item class="cs-input mt0">
              <ion-label floating>{{'Product Name' | translate}}</ion-label>
              <ion-select name="product_point_group"  [(ngModel)]="conData1.product_point_group"  #product_point_group="ngModel">
                <ion-option  *ngFor="let val of products" value={{val.product_point_group}}   >{{val.product_point_group}}</ion-option>
              </ion-select>
            </ion-item>
            
            <ion-item class="cs-input" >
              <ion-label floating>{{'Quantity' | translate}}</ion-label>
              <ion-input type="tel"   [(ngModel)]="conData1.qty" name="qty" #qty="ngModel" autocomplete="off" autocorrect="off" min="0"  maxlength="5" minlength="1" ></ion-input>
            </ion-item>
            <!-- <ion-item class="cs-input" >
              <ion-label floating>{{'Total Point' | translate}}</ion-label>
              <ion-input type="tel"   [(ngModel)]="conData1.totalPoint" name="totalPoint" #qty="ngModel" autocomplete="off" autocorrect="off"   readonly></ion-input>
            </ion-item> -->
              <button type="text"  ion-button full color="secondary" [disabled]="!conData1.product_point_group  || !conData1.qty"   (click)="addItem()" >{{'Add To List' | translate}}</button>
            </ion-list>

           
          
           
            <div class="card-list">
              <div class="card-item" *ngFor="let row of contractorData; let i = index">
                <div class="data-content">
                  <p><strong>{{'Product' | translate}}: </strong> {{row.product_point_group}}</p>
                  <div class="item-flex">
                    <p><strong>{{'Quantity' | translate}}: </strong> {{row.qty}}</p>
                  </div>
                </div>
                <div class="data-action">
                  <a ion-fab mini color="danger" (click)="deleteItem(i)"><ion-icon name="trash"></ion-icon></a>
                </div>
              </div>
              
            </div>
         
          </div>
          <div class="sprate-block" >
            <div class="upload-document" (click)="onUploadChange()" >
              <p *ngIf="conData1.image=='' || conData1.image== undefined"><i class="material-icons">add_circle</i><br>{{ 'Upload Bill' | translate}}</p>
              <img *ngIf="conData1.image != ''"[src]="conData1.image" alt="">
            </div>
            
          </div>

              <!-- <ion-item>
                    <div class="add-new padding0" >
                        <div class="uplode-image">
                            <ul>
                                <li *ngFor="let pic of image_data;let i = index;">
                                    <img src="{{pic.image}}">
                                    <button><i class="material-icons" (click)="remove_image(i)">clear</i></button>
                                </li>
                                
                                <li (click)="captureImage()">
                                    <label>
                                        <input type="file" style="display: none;">
                                        <div class="other">
                                            <a ><i class="material-icons" >camera_alt</i></a>
                                        </div>
                                    </label>
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                    
                    
                </ion-item> -->
          
         
          <div class="pt32 pb16">
            <button [disabled]="saveFlag" ion-button full >{{ 'Save' | translate }}</button>
          </div>
        </form>
        
        
        
      </div>
    </div>
  </ion-content> 




  <!-- <ion-content padding>
    <div class="main-field padding16">
      <div class="cs-form mb10">
        <form name="purchaseform"   (ngSubmit)="f.form.valid && submit2() " #f="ngForm" >
          <div class="sprate-block">
            <ion-list>              
              <ion-item class="cs-input" [ngClass]="{'error':f.submitted && site_location_id?.invalid}">
                <ion-label floating>{{'Site Address' | translate}}*</ion-label>
                <ionic-selectable
                item-content 
                [(ngModel)]="purchaseform.site_location_id" 
                #site_location_id="ngModel"
                [items]="locations"
                name="site_location_id"
                itemValueField="id"
                itemTextField="address"
                [hasVirtualScroll]="true"
                (onChange)="getArchitectlist(purchaseform.site_location_id.architect_id)"
                [canSearch]="true" required>
              </ionic-selectable>
              
            </ion-item>
            <div *ngIf="f.submitted && site_location_id.invalid" class="invalid-feedback">
              <div *ngIf="site_location_id.errors.required">{{'Field is Required' | translate}}</div>
            </div>
            
            
              
  
              
            <ion-item class="cs-input" [ngClass]="{'error':f.submitted && architect_id?.invalid}"
            >
            <ion-label floating>{{'Select Architect' | translate}}*</ion-label>
            <ionic-selectable item-content [(ngModel)]="purchaseform.architect_id" #architect_id="ngModel"
                [items]="Architect_list" name="architect_id" itemValueField="id" 
                itemTextField="full_name" [hasVirtualScroll]="true" [canSearch]="true" required>
            </ionic-selectable>
        </ion-item>
        (onChange)="getArchitect_id(purchaseform.architect_id.id)"
              <div *ngIf="f.submitted && architect_id.invalid" class="invalid-feedback">
                <div *ngIf="architect_id.errors.required">{{'Field is Required' | translate}}</div>
              </div>
            
            
            
            <ion-item class="cs-select" [ngClass]="{'error':f.submitted && product_id?.invalid}">
              <ion-label>{{'Product' | translate}}*</ion-label>
              <ion-select  [(ngModel)]="purchaseform.product_id" name="product_id" #product_id="ngModel" required>
                <ion-option [value]="row.id" *ngFor="let row of products">{{row.product_point_group | titlecase}}</ion-option>
              </ion-select>
            </ion-item>
            <div *ngIf="f.submitted && product_id.invalid" class="invalid-feedback">
              <div *ngIf="product_id.errors.required">{{'Field is Required' | translate}}</div>
            </div>



            <ion-item class="cs-input" [ngClass]="{'error':f.submitted && product_id?.invalid}"
            >
            <ion-label floating>{{'Select Product' | translate}}*</ion-label>
            <ionic-selectable item-content [(ngModel)]="purchaseform.product_id" #product_id="ngModel"
                [items]="products" name="product_id" itemValueField="id" 
                itemTextField="product_point_group" [hasVirtualScroll]="true" [canSearch]="true" required>
            </ionic-selectable>
        </ion-item>
              <div *ngIf="f.submitted && product_id.invalid" class="invalid-feedback">
                <div *ngIf="product_id.errors.required">{{'Field is Required' | translate}}</div>
              </div>

            
            <ion-item class="cs-input" [ngClass]="{'error':f.submitted && qty?.invalid}">
              <ion-label floating>{{'Quantity' | translate}}*</ion-label>
              <ion-input type="tel" name="qty" [(ngModel)] = "purchaseform.qty" #qty="ngModel" (ngModelChange)="checkValue(purchaseform.qty)" required></ion-input>
            </ion-item>
            <div *ngIf="f.submitted && qty.invalid" class="invalid-feedback">
              <div *ngIf="qty.errors.required">{{'Field is Required' | translate}}</div>
            </div>
          </ion-list>
        </div>
        <div class="pt16 pb16">
          <button type="submit" *ngIf="purchaseform.id"  ion-button full [disabled]="saveFlag == true">{{ 'Update' | translate }}</button>
          <button type="submit" *ngIf="!purchaseform.id"  ion-button full [disabled]="saveFlag == true">{{ 'Save' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
  </ion-content> -->
  